body,
html {
  overflow-x: hidden;
}

.portfolio-img {
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow {
  animation: pulse 2s ease 0s infinite normal none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 600px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
